.card {
  width: 18%;
  height: 30em;
  margin: 0 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 6px black; 
  color: white;
}

.card_header {
    background-color: black;
    display: block;
    opacity: .9;
    width: 100%;
    text-align: center;
    padding: 2em 0
}

.card_footer {
    width: 100%;
    background-color: black;
    opacity: .9;
    display: flex;
    justify-content: space-around;
}