.carousel{
    box-sizing: border-box;
    margin: 5em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 100%;
    overflow: hidden;
}

.search-error {
    color: black;
    width: 70%;
    font-size: 3em;
}
.slideIn-enter {
    opacity: 0;
  transform: translate(0, 0);
}

.slideIn-enter.slideIn-enter-active {
  transform: translate(40em,0);
  opacity: 1;
  transition: all 1500ms ease-in-out;
}

.slideIn-leave {
  transform: translate(-35em, 0);
}

.slideIn-leave.slideIn-leave-active {
  transform: translateX(40em);
  transition: all 1250ms ease-in-out;
}