.carousel{
    box-sizing: border-box;
    /* margin: 3em 0 0 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    height: 100%;
    overflow-x: hidden;
    padding: 1em 0;
    /* position: absolute */
}

.search-error {
    color: black;
    width: 70%;
    font-size: 3em;
}

.slideIn-enter {
  opacity: .5;
}

.slideIn-enter.slideIn-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.slideIn-leave {
  visibility: hidden;
  opacity: 0;
}

.slideIn-leave.slideIn-leave-active {
  opacity: .5;
  display: none;
  transition: opacity .1ms linear;
}

@media only screen and (max-width: 625px) {
  .carousel {
    margin-top: 2em;
  }
}