.carousel {
  box-sizing: border-box;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 94%;
  height: 100%;
  overflow: hidden;
}

.search-error {
  color: black;
  width: 70%;
  font-size: 3em;
}
.slideIn-right-enter {
    opacity: 0;
  transform: translate(-60vw, 0);
}

.slideIn-right-enter.slideIn-right-enter-active {
  transform: translate(42vw, 0);
  opacity: 1;
  transition: all 1500ms ease-out;
}

.slideIn-right-leave {
  transform: translate(-35vw, 0);
}

.slideIn-right-leave.slideIn-right-leave-active {
  animation-delay: 1200ms;
  transform: translate(42vw, 0);
  transition: all 1250ms linear;
  
}

.slideIn-left-enter {
    opacity: 0;
  transform: translate(160vw, 0);
}

.slideIn-left-enter.slideIn-left-enter-active {
  transform: translate(42vw, 0);
  opacity: 1;
  transition: all 1500ms ease-out;
}

.slideIn-left-leave {
  transform: translate(-30vw, 0);
}

.slideIn-left-leave.slideIn-left-leave-active {
  transform: translate(-140vw, 0);
  transition: all 1250ms linear;
}


@media only screen and (max-width: 625px) {
  .search-error {
    padding-top: 2em;
  }
  .carousel {
    padding-top: 2em;
  }
}
